
<editor
apiKey="bqqmthh0kz3pll99x0lpcnjlzce9zi7lkpcyixk616c8yh81"
cloudChannel="7"
[disabled]="false"
id=""
initialValue=""
[inline]="false"
plugins=""
tagName="div"
toolbar=""
  [init]="{
    plugins: 'lists link image paste help wordcount',
    toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
  }"
></editor>
<a routerLink='/home'>
  Home
</a>
<button (click)="excel()">export</button>
<router-outlet></router-outlet>